/* SideBar.css */

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0; /* Change this */
    top: 0;
    transform: translateX(-100%); /* Change this */
    transition: transform 0.3s ease-in-out;
    background-color: rgb(6, 71, 49);
    opacity: 0.6;
}


.sidebar.open {
    transform: translateX(0);
}

.sidebar button {
    position: absolute;
    top: 50%;
    right: -25px; /* Adjust as needed */
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #085040;
    font-size: 40px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    box-shadow: 0 0px 10px 5px #05886b;
    transition: box-shadow 1s ease-in-out;
}